@media screen and (max-width: 900px) {
    :root {
        font-size: 12px;
    }

    .btn {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    main {
        min-width: 300px;
        max-width: 100%;
    }

    main .content {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .content {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .container {
        min-width: 300px;
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        /*делаем по центру объект*/
    }

    header {
        display: flex;
        justify-content: flex-end;
        min-width: 300px;
        max-width: 90%;
    }


    header ul {
        display: none;

    }

    .content .content-right img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }


    .content .content-left h1 {
        text-align: center;
    }

    .content .content-left {
        align-items: center;
    }


    .content .content-left p {
        text-align: center;
    }


    button {
        margin-top: 20px;
    }


    /*фываыфвафываыфваы*/

    .Posts {

        background: #EDF7FA;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .Posts .container {
        display: flex;
        flex-direction: column;
        height: auto;

    }

    .head {
        height: 60px;
        display: flex;
        justify-content: center;
        width: 100%;


    }

    .head p {

        text-align: center;
    }

    .head a {
        display: none;
        text-align: start;
    }

    .Posts .content {
        margin-top: 0px;
        display: flex;
    }



    .content {
        display: flex;


    }


    .content .left {
        width: 65%;
        background: #FFFFFF;
        padding: 0px;

    }

    .content .dop {
        width: 65%;
      

    }

    .content .qwer {
        margin-bottom: 20px;
    }

    .content .dop {
        width: 50%;
        background: #FFFFFF;
        padding: 0px;

        margin-top: 10px;
    }

    .content .left h2 {
        font-size: 1.625rem;
        margin-top: 20px;
    }

    .content .left p {
        font-size: 1rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .content .dop {
        margin-right: 0px;
    }


    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        margin-right: 15px;
    }

    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }

    .work2,
    .work3 {
        display: none;
    }

    .work:nth-child(2) {
        display: none;
    }

    .Works .container {
        display: flex;
        justify-content: center;
    }

    .Works .container .work1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 270px;
    }

    .Works h2 {
        margin-top: 16px;
    }

    hr {
        display: none;
    }

    .dddd {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .Works .container {
        width: 339px;

    }
    
    .Works .container .work1 img {
        width: 270px;
        
    }




    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        padding: 15px;
        background: #585858;
        transform: translateX(100%);
        transition: transform 0.5s;
        display: block;
        opacity: 50%;
    }

    .menu nav {
        margin-top: 50px;
        text-decoration: none;
        opacity: 100%;
    }

    .menu nav a {
        text-decoration: none;
        color: white;
    }

    .menu nav li {
        margin-top: 15px;
        background-color: black;
        padding: 2px;
    }


    .menu.active {
        transform: translateX(0);
    }

    .menu li {
        list-style-type: none;
    }

    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }







}