
:root {
    font-style: 16px;
    --main-color: #21243D;
    --primaru-color: #FF6464;
    --dark-blue: #142850;
    font-size: 16px;

}


* {
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}


.container {
    width: 855px;
    margin: 0 auto;  /*делаем по центру объект*/

}

h1, h2, h3, h4{
    color: var(--main-color)
}

menu-btn, .menu{
    display: none;
}

button{
    width: 200px;
    height: 50px;
    background-color: var(--primaru-color);
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FFFFFF;
}

button:hover{
    background-color: rgb(128, 0, 0);
    cursor: pointer;
    
}

button a{ 
   text-decoration: none;
   color: white;
   font-weight: 700;

}

.btn {
    width: 90%;
    display: flex;
    justify-content:space-between;
}

header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;

    width: 300px;
    justify-content: space-between;
}

header ul a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.25rem;
}

.content {
    margin-top: 120px;
    display: flex;

    height: 300px;
    justify-content: space-between;
}

.content .content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.content .content-left h1 {
    font-size: 2.75rem;
    
}

.content .content-right{
    display: flex;
    align-items: center;
}

.content .content-right img {
    filter: drop-shadow(-8px -16px 0px rgba(0, 0, 0, 0.25));
}


.Posts {
    margin-top: 80px;
    background: #EDF7FA;
    height: auto;
}

.head {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.head p {
    font-weight: 400;
    font-size: 1.375rem;
    color: var(--main-color);

}

.head p a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    color:  #00A8CC;
}

.Posts .content {
    margin-top: 0px;
}

.content .left {
    background: #FFFFFF;
    padding: 0 24px;
    margin-bottom: 32px;
}

.content .left h2 {
    font-size: 1.625rem;
    margin-top: 20px;
}
.content .left p {
    font-size: 1rem;
    margin-top: 20px;
}

.content .dop {
    margin-right: 20px;
}

.Works{
    margin-top: 40px;
}

.Works .content {
    flex-direction: column;
    margin: 0;
    margin-top: 40px;
    height: auto;
}



.work {
    display: flex;
    justify-content: space-between;

}

.work img {
    margin-right: 15px;
    width: 300px;
    height: auto;
}

.Featured{
    font-weight: 400;
    font-size: 1.375rem;

}

hr {
    margin: 15px 0px 30px 0px;
}

.work div h2{
    font-weight: 700;
    font-size: 1.875rem;
}

.work div .flex {
    justify-content: start;
    align-items: center;
    
}
.work div .flex p a{
    text-decoration: none;
    color: #8695A4;
}
.work div .flex p:nth-child(1){
    background: #142850;
    color: white;
    padding: 0.4px 10px;
    border-radius: 19px;
    font-weight: 400;
    font-size: 1.125rem;
    font-weight: 900;
    margin-right: 26px;
}


.work div .flex p:nth-child(2){
    color: #8695A4;
    font-weight: 400;
    font-size: 1.25rem;
}

footer {
    margin-bottom: 50px;
    margin-top: 100px;
}

footer .container .flex {
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

footer .container p {
    margin: 0 auto;
    margin-top: 27px;
    color: var(--main-color);
    font-weight: 400;
    font-size: 0.875rem;

}

footer .container div {
    width: 166px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer div a  {
   display: flex;
   justify-content: space-around;
   align-items: center;
 
}

.more {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;

}
.more button{
    
    padding: 5px;
    width: 300px;
    height: 50px;
}








@media screen and (max-width: 900px) {
    :root {
        font-size: 12px;
    }

    main {
        min-width: 300px;
        max-width: 100%;
    }

    main .content {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .content {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .container {
        min-width: 300px;
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        /*делаем по центру объект*/
    }

    header {
        display: flex;
        justify-content: flex-end;
        min-width: 300px;
        max-width: 90%;
    }


    header ul {
        display: none;

    }

    .content .content-right img {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }


    .content .content-left h1 {
        text-align: center;
    }

    .content .content-left {
        align-items: center;
    }


    .content .content-left p {
        text-align: center;
    }


    button {
        margin-top: 20px;
    }


    /*фываыфвафываыфваы*/

    .Posts {

        background: #EDF7FA;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .Posts .container {
        display: flex;
        flex-direction: column;
        height: auto;

    }

    .head {
        height: 60px;
        display: flex;
        justify-content: center;
        width: 100%;


    }

    .head p {

        text-align: center;
    }

    .head a {
        display: none;
        text-align: start;
    }

    .Posts .content {
        margin-top: 0px;
        display: flex;
    }



    .content {
        display: flex;


    }


    .content .left {
        width: 65%;
        background: #FFFFFF;
        padding: 0px;

    }

    .content .qwer {
        margin-bottom: 20px;
    }

    .content .dop {
        width: 50%;
        background: #FFFFFF;
        padding: 0px;

        margin-top: 10px;
    }

    .content .left h2 {
        font-size: 1.625rem;
        margin-top: 20px;
    }

    .content .left p {
        font-size: 1rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .content .dop {
        margin-right: 0px;
    }


    .menu-btn {
        position: fixed;

        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        margin-right: 55px;
    }

    .menu-btn span {
        position: fixed;

        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }

    .work2,
    .work3 {
        display: none;
    }

    .work:nth-child(2) {
        display: none;
    }

    .Works .container {
        display: flex;
        justify-content: center;
    }

    .Works .container .work1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 270px;
    }

    .Works h2 {
        margin-top: 16px;
    }

    hr {
        display: none;
    }

    .dddd {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .Works .container {
        width: 339px;

    }
    
    .Works .container .work1 img {
        width: 270px;
        
    }




    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        padding: 15px;
        background: #585858;
        transform: translateX(100%);
        transition: transform 0.5s;
        display: block;
        opacity: 50%;
    }

    .menu nav {
        margin-top: 50px;
        text-decoration: none;
        opacity: 100%;
    }

    .menu nav a {
        text-decoration: none;
        color: white;
    }

    .menu nav li {
        margin-top: 15px;
        background-color: black;
        padding: 2px;
    }


    .menu.active {
        transform: translateX(0);
    }

    .menu li {
        list-style-type: none;
    }

    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }



    .Posts .content .dop {
        width: 65%;
    

    }


}